@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    204 A Building Bramha Exuberance<br />
    OFF NIBM Road, Kondhwa<br />
    <abbr title="Phone">P:</abbr>
    +91 9975054434
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:sumukhballal@gmail.com">sumukhballal@gmail.com</a><br />
</address>